*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ****logo-container***** */
    section.logo-container{
        width: 100%;
        height: 260px;
        display: flex;
        justify-content: center;
        padding-top: 50px;  
    }
    .menu-logo{
        width: 540px;
        height: 100px;
        
    }
   .logo{
    width: 540px;
    height: 92px;
    text-align: center;
   }
   .menu-logo>ul{
    display: flex;  
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
    list-style: none;
   }
   .menu-logo>ul>li>a{
    color: black;
    font-size: bold;
    font-weight: bolder;
   }
   .menu-logo>ul>li:nth-of-type(1)>a{
    color: rgb(11,163,156);
   }
   /* ******end of logo-container***** */

   /* *****hero***** */
   .hero{
    width: 100%;
    height: 440px;
    background-image: url(./../img/the-beacon.jpg);
    background-size: cover;
    background-color: linear-gradient(0,0,0,0.5),rgba(0,0,0,0.5); 
   }
   .txt{
    width: 100%;
    height: inherit;
    flex-direction: column;
    padding-left: 560px;
    padding-top: 70px; 
   }
   .txt-1{
    width: 450px;
    height: 70px;
    color: black;
    background-color: white;
    text-align: center;
    line-height:70px ;
    font-weight: 800;
   }
   .txt-2{
    width: 400px;
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    margin-top: 30px;
   }
   .txt-3{
    width: 480px;
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    margin-top: 25px;
   }
   .txt-4{
    width: 350px;
    height: 40px;
    color: white;
    background-color: black;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    margin-top: 25px;
   }
   .txt-5{
    width: 150px;
    height: 60px;
    background-color:rgb(11,163,156);
    color: white;
    font-size: 17px;
    border: none;
    margin-top: 25px;
    margin-left: -253px;
   }
   /* ******end of hero****** */

   /* ******actor***** */
   .actor{
    width: 100%;
    height: 380px;
   }
.actor>ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 5px;
    width: 100%;
    height: inherit;
    text-align: center;
    list-style: none;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;   
}
.actor>ul>li>a img{
    border: 2px solid black;
    opacity: 75%;
}
.actor>ul>li>a>h2{
    color: black;
    font-weight: 1000;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 17px; 
}
/* *****end of actor**** */

/* *****bottom***** */
.bottom{
    width: 100%;
    height: 110px;
    background-color:rgb(37,37,37) ;
    display: flex;
}
.copy{
    width: 50%;
    color: white;
    text-align: center;
    line-height: 110px;
    height: inherit;
    font-size: 20px;
}
i.icon{
    
    font-size: 30px;
    color: white;
    border: 2px solid white;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;   
}
.copy-1{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: center;
    padding-left: 200px;
    align-items: center;
    justify-content: space-evenly;  
}
/* *******end of bottom */
/* ************************************about**************************** */
/* ****logo-about *****8*/
.logo-about{
    width: 100%;
    height: 70px;
    padding-left: 270px;
}
.logo-about1{
    background-color: black;
    color: white;
    height: 70px;
    width: 600px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
}
/* *******end of logo-about***** */
/* *****hero-about***** */
.hero-about{
    width: 100%;
    height: 350px;
    position: relative;
}
.hero-about img{
    width: 700px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border: 2px solid black;
}
/* ******end of hero-about***** */
/* ******txt-about******* */
.txt-about{
    text-align: center;
    font-size:17px;
    line-height: 30px;
    padding-left: 230px;
    padding-right: 230px;
}
.txt-about a{
    color: black;
    text-decoration: underline;
}
   /********* gallary******** */
   .logo-gallery{
    width:100%;
    height: 70px; 
   }
   .logo-gallery1{
    color: white;
    width: 300px;
    height: inherit;
    background-color: black;
    text-align: center;
    line-height: 70px;
    margin-left: 400px;
    font-size: 20px;
   }
   /* gallery-hero */
   .hero-gallery img{
    border: 2px solid black;
    opacity: 0.8;
   }
   .hero-gallery1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
   }
   /* ******end of gallery****** */

   /* ******blog****** */
.logo-blog{
    width: 150px;
    height: 70px;
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 70PX;
    margin-left: 500PX;
}
/* hero-blog */
.hero-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.hero-blog p{
    line-height: 25px;
}
.hero-blog1{
    display: flex;
    width: 940px;
    height: 295px;
}
.txt-blog1{
    text-align: center;
    width: 60%;
    height: inherit;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
}
.txt-blog1 h1{
    font-size: 25px;
    font-weight:900 ;
}
.read a{
    width: 150px;
    height: 30px;
    background-color: black;
    color: white;
    display: block;
    text-align: center;
    line-height: 30px;
    margin-left: 130px;
}
.tb1{
    text-decoration: underline;
    color: black;
}
.hero-blog1 img{
    width: 40%;
    height: inherit;
    border: 2px solid black;
}

.hero-blog2 img{
    width: 40%;
    height: inherit;
    border: 2px solid black;
}

.hero-blog2{
    display: flex;
    width: 940px;
    height: 295px;
}
.txt-blog2{
    text-align: center;
    width: 60%;
    height: inherit;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
}
.txt-blog2 h1{
    font-size: 25px;
    font-weight:900 ;
}
.tb2{
    text-decoration: underline;
    color: black;
}
.tb2-2{
    text-decoration: underline;
    color: black;
}

.hero-blog3 img{
    width: 40%;
    height: inherit;
    border: 2px solid black;
}

.hero-blog3{
    display: flex;
    width: 940px;
    height: 295px;
}
.txt-blog3{
    text-align: center;
    width: 60%;
    height: inherit;
    border: 2px solid black;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px;
}
.txt-blog3 h1{
    font-size: 25px;
    font-weight:900 ;
}
.tb3{
    text-decoration: underline;
    color: black;
}
/* ******end of blog****** */